.header p {
    background-color: aqua;
}

.table {
    display: flex;
    flex-direction: row;
    padding: 3px;
    padding-right: 300px;
}

.tableT {
    margin-left: 300px;
}

.mainForm {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2rem;
    box-shadow: 0 1rem 1.4rem rgba(0, 0, 0, 1);
}

.mainForm input {
    outline: none;
    border: 1px solid black;    
    padding: 5px;
    border-radius: 10px;
    background-color: silver;
    font-size: 14px;
}

.membersDetails {
    display: flex;
    margin-top: 2rem;
}

.membersDetail h3 {
    margin-top: 2rem;
}

.submitButton {
    margin-top: 1rem;
    text-align: center;
}

.groups {
    margin-left: 41%;
    margin-top: 2rem;
}